<div class="loginBlock">
    <h3 class="LoginHeading ">Forget Password</h3>
    <ul>
        <li>
            <input type="text" class="form-control" placeholder="Account ID">
        </li>
        <li>
            <input type="text" class="form-control" placeholder="Registered Mail Id">
        </li>
        
        <li>
            <a class="link-offset-2 link-white link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#loginpage" onclick="loadSelectedPage('login')">
                << Back to login
            </a>
        </li>
        <li>
            <button class="btn btn-success">
                Send mail
            </button>
        </li>
    </ul>
</div>