<div class="loginBlock">
    <h3 class="LoginHeading">New Signup</h3>
    <ul>
        <li>
            <input type="text" class="form-control" placeholder="Account ID" id="accountId">
        </li>
        <li>
            <input type="text" class="form-control" placeholder="Enter Mail id" id="mailId">
        </li>
        <li>
            <input type="password" class="form-control" placeholder="Enter Password" id="password">
        </li>
        <li>
            <input type="password" class="form-control" placeholder="Re enter password">
        </li>
        <li>
            <input type="date" class="form-control" placeholder="DOB" id="userDob">
        </li>
        <li>
            <a class="link-offset-2  link-white link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#login" onclick="loadSelectedPage('login')">
                << Back to login
            </a>
        </li>
        <li>
            <button class="btn btn-success" onclick="readSignupData()">
                Signup
            </button>
        </li>
        <li class="succssmsgblock"> 

        </li>
    </ul>

</div>