body {
    background-color: lightskyblue;
}
.opaciter {
    width: 500px;
    height: 513px;
    margin: 10px auto;
    border-radius: 20px;
    background-color: white;
    opacity: 0.4;
}
.comNamAdd {
    border: 2px solid;
    border-radius: 10px;
    background-color: gold;
    color: black;
    text-align: center;
    font-weight: bold;
    margin: 5px;
    position: sticky;
    top: 0;
}
.header2 {
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    margin: 10px;
    padding: 5px;
    background-color: silver;
    font-style: italic;
}
ol {
    width: 500px;
    margin: 5px;
    padding: 10px;
    position: absolute;
    top: 168px;
    left: 410px;
}
li {
        border: 1px solid;
        border-radius: 10px;
        margin: 20px;
        padding: 10px;
        background-color: beige;
        list-style: none;
        font-weight: bold;
    }