*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    background-image: url(/Img/artcolor.jpg);
}
ul{
    background-color: rgb(89, 166, 207);
    border: 2px solid;
    
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
    list-style: none;
    text-align: center;
    border-radius: 20px;
    padding: 5%;
}
li{
    margin: 5%;
    font-size: 2vw;
    font-weight: 600;
    margin: 50px;
    text-align: left;
}
#mail{
    border: 2px solid;
    box-sizing: 5%;
    padding: 2%;
    margin-left: 1%;
    font-size: 1vw;
    
}
#submitebtn {
    font-size: 2vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    text-decoration: none;
    border: 2px solid;
    border-radius: 10px;
    padding: 0px 10px ;
    
}
