h2 {
    border: 1px solid;
    margin: 20px auto;
    padding: 20px;
    background-color: aqua;
    text-align: center;
    font-size: 50px;
}
ul {
    width: 500px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid;
}
li {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    list-style: none;
}
.hide {
    display: none;
}