.otpBlock {
  border: 1px solid;
  width: 100px;
  font-weight: bold;
  color: blueviolet;
  text-align: center;
  padding: 12px;
  font-size: 20px;
  margin: 20px auto;
}

.btn {
  padding: 12px;
  font-size: 20px;
  margin: 20px auto;
  display: flex;
}
