.name{
    font-style: italic;
    border: 2px solid black;
    height: 5%;
    text-align: center;
    color: black;
    font-size: 25px;
    font-weight: bold;
   
}


.details img{
    transition:  1s ease-in;
    object-fit: fill;
    margin-bottom: 2px;
}
.details img:hover {
    
    box-shadow:3px 3px 3px rgba(0, 0, 0, 0.9)  ;     
    transition: 3s ease-out; 
    transform: scale(0.9);
      
}
.details h1{
    text-transform: lowercase;
    font-size: 20px
}
.details{
    border-bottom: 2px solid black;
}